img {
  border: 2px solid black;
  border-radius: 20%;
  width: 200px;
  margin-bottom: 16px;
}

footer {
  font-size: 14px;
  color: gray;
  margin-top: 20px;
}

body {
  padding: 16px;
  text-align: center;
}

h1 {
  margin-bottom: 16px;
}