h1 {
    font-size: 32px;
    color: white;
    background-color: midnightblue;
    text-align: center;
}

div {
    height: 50px;
}

h3 {
    color: white;
    background-color: #3776AB;
    text-align: center;
}

p {
    color: white;
    background-color: #3776AB;
    text-align: center;
}