html {
    font-size: 24;
}

h1 {
    color: green;
    background-color: blue;
    font-size: 1rem;
}

h3 {
    background-color: rgb(0, 100, 0);
    font-size: 0.75rem;
}

p {
    color: #000800;
    font-size: 0.5em;
}

span {
    color: red;
}