.container {
  width: 1200px;
  margin: auto;
  background-color: cadetblue;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  gap: 10px 150px;
}

div div {
  outline: 1px black solid;
  background-color: bisque;
  text-align: center;
}