.tbody {
    font-size: 20px;
}

span {
    color: #ffc0cb;
    display: inline-block;
    height: 28px;
}

.temperature {
    background-color: #ffc0cb;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.humidity {
    background-color: #add8e6;
    display: inline-block;
    width: 40px;
    height: 20px;
}

img {
    display: block;
}