* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  flex-wrap: wrap;
}

div {
  background-color: darkblue;
  color: white;
}

footer {
  font-size: 12px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

div {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}