input, button {
  display: block;
  margin: 10px 0;
}

button {
  width: 48px;
  border-radius: 5px;
  border: black solid 1px;
  background-color: #FFFFE0
}

input {
  height: 24px;
  outline: gray solid 1px;
  border-radius: 5px;
  background-color: #EFFFE0;
  border: none;
}

input:focus {
    background-color: #CCFFCC;
    outline-color: green:
}

button:hover {
    background-color: #ffffa8;
    width: 52px;
}